/* main */

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../fonts/Gilroy-Bold.ttf); /* Путь к файлу со шрифтом */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../fonts/Gilroy-Medium.ttf); /* Путь к файлу со шрифтом */
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.black {
    color: #070707;
}

/* header */

header {
    padding-bottom: 105px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    border-bottom: 1px solid #828282;
}

.menu-item {
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: #828282;
    font-weight: 700;
    font-size: 18px;
}

.menu-link:hover, .menu-link:active {
    color: #070707;
}

.offer {
    padding-top: 39px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 47px;
    line-height: 57px;
    color: #070707;
}

.offer-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
}

.lang {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    transform: rotate(-90deg);
}

.banner {
    max-width: 940px;
    margin-top: 30px;
}


/* hisory */

.history {
    padding: 120px 0 107px 0;
    background: #F6F6F6;
}

.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #070707;
    margin-bottom: 18px;
}

.text-block {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    margin-bottom: 30px;
}


/* skills */

.skills {
    padding: 91px 0px 110px 0;
}













